@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

.card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: #ada9a9;
    width: 50%;
    text-align: center;
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.2);
}

.card__name {
    font-family: 'Open Sans';
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.card__image {
    margin: 0 auto;
    height: 100px;
    width: 100px;
}
