@page
@model AboutModel
@{
	ViewData["Title"] = "About";
}

<head>
	<link rel="stylesheet" href="~/css/About.cshtml.css"/>
</head>


<div class="hero">
	<h1 class="hero__heading">About</h1>
	<p class="hero__text">This is a PokeDex project to learn about Razor Pages and the Razor Syntax.</p>
</div>

